<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-header4">{{serviceName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <!--*********** Ingénieurs du son du service choisi ***********-->
  <ion-item lines="none" class="nomarg">
    <h1 class="main-header5">
      Ingénieurs du son offrant le service: {{serviceName}}
    </h1>
  </ion-item>
  <ion-grid class="sm-pad-grid">
    <ion-row wrap>
      <ion-col
        tappable
        size-lg="4"
        size-md="4"
        size-sm="6"
        size="6"
        class="ion-padding"
        *ngFor="let ingetarif of ingetarifs"
      >
        <ion-card
          mode="ios"
          class="food-main-card food-card-tall ion-margin-bottom shadow"
          routerLink="/detail/{{ingetarif.userProfile.id}}"
          (click)="openIngeSonDetail('detail',ingetarif.userProfile.id)"
        >
          <div
            class="food-card1-bg"
            [ngStyle]="{'background-image': 'url(' + ingetarif.userProfile.image+ ')'}"
          ></div>
          <ion-card-content class="card1-padding">
            <ion-label
              ><ion-text color="black"
                ><h2>{{ingetarif.userProfile.firstname}}</h2></ion-text
              ></ion-label
            >
            <ion-label><h3>{{ingetarif.ingeson.adresse}}</h3></ion-label>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-icon
                  class="review-icon"
                  color="warning"
                  *ngFor="let i of [0,1,2,3,4]"
                  [name]="i < ingetarif.ingeson.avg_note  ? 'star' : 'star-outline'"
                ></ion-icon
                ><br />
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
