<ion-content padding>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <ion-grid fixed class="ion-no-padding">
    <div class="logo-box">
      <ion-icon
        class="notification pop-in"
        name="checkmark-circle-outline"
        color="green"
      ></ion-icon>
    </div>
    <div class="ion-text-center">
      <ion-text color="grey" class="ion-margin-bottom">
        <h1 class="main-header4">Réservation enregistrée avec succès.</h1>
      </ion-text>
    </div>
    <div>
      <!-- <ion-button color="grey" routerLink="/shopping-address">View my order</ion-button> -->
      <ion-button color="black" fill="blank" expand="full" routerLink="/home"
        >Retourner à l'accueil</ion-button
      >
    </div>
  </ion-grid>
</ion-content>
