<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Reservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <!--*********** Mes reservations demandees ***********-->
  <ion-item lines="none" class="nomarg" *ngIf="demandes?.length > 0">
    <h1 class="main-header5">Mes reservations demandees</h1>
  </ion-item>
  <ion-list *ngIf="demandes?.length > 0">
    <ion-item *ngFor="let demande of demandes">
      <ion-avatar slot="start">
        <img [src]="demande.ingeson_image" />
      </ion-avatar>
      <ion-label>
        <h2>{{demande.ingeson_name}}</h2>
        <h3>
          Service: {{demande.service_name}} ({{demande.nbheure}}{{unit_h}})
        </h3>
        <h3>Montant: {{demande.total_amount}} {{currency}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--*********** Mes prestations ***********-->
  <ion-item lines="none" class="nomarg" *ngIf="prestations?.length > 0">
    <h1 class="main-header5">Mes prestations demandees</h1>
  </ion-item>
  <ion-list *ngIf="prestations?.length > 0">
    <ion-item *ngFor="let prestation of prestations">
      <ion-avatar slot="start">
        <img [src]="prestation.user_profile_image" />
      </ion-avatar>
      <ion-label>
        <h2>{{prestation.user_profile_name}}</h2>
        <h3>
          Service: {{prestation.service_name}}
          ({{prestation.nbheure}}{{unit_h}})
        </h3>
        <h3>Montant: {{prestation.total_amount}} {{currency}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
